body{
  background-color: #f5f6f7;
  color: #1b1b32; 
}
main{
  text-align: center;
  background-color: #1b1b32;
}
h1{
  padding: 10px;
  text-align: center;
  font-size: min(5vm, 1.2em);
}
p {
  text-align: center;
}
#title{
  color: #f5f6f7;
  display: flex;
  justify-content: center;
  align-items: center;
}
header{
  width: 100%;
  height: auto;
}
img{
  display: block;
}
#img-div{
  background-color: #f5f6f7;
  padding: 40px;
  max-width: 100%;
  margin: 40px;
}
#image{
  max-width: 100%;
  height: auto;
}
figcaption{
  height: auto;
  width: 100%;
  color: #1b1b32;
  margin-top: 10px;
  text-align: center;
}
#img-caption{
  max-width: 100%;
  text-align: center;
}
#tribute-info{
  color: #f5f6f7;
  display: block;
  justify-content: center;
  text-align: center;
  font-size: min(5vm, 1.2em);
}
ul{
  color: #f5f6f7;
  text-align: left;
  padding: 10px 30%;
}
li{
  padding: 10px 0;
}
footer{
  padding: 10%;
  color: #f5f6f7;
}
